################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Muffler/.vs/Muffler
/Muffler/obj
